{% extends "base.html" %}
{% block page_content %}
<div class="container">
        <h2>
		<p>This server was done as a project, which was to be submitted so as the to get the oppurtunity to join the zense club of our prestigious institue <strong><mark>IIIT B</mark></strong></p>
        <p>As you all might have guessed by now, first you are redirected to the start page, where some content about this server will be displayed.You can choose whether you want to read the next page or Login/Register. You will be redirected to Login page or Register page by clicking their respective buttons on the navbar.</p>
        <p>After registration, you will be sent a confirmation mail. after clicking on the confirmation link, you can login to your account, prior to which you will be denied access to your account.</p>
	<p>After logging in, you can either choose to view your personal details, return to home page(if you are not already in that page) where you can play the 7x7 minesweeper game. The home and personal details button can be accessed from the navigation bar.</p></h2>
        <h5>
        <ul class="pager">
	<li><a href="/">Previous</a></li>
        </ul>
        </h5>
</div>
{% endblock %}
